body {
  background-color: #f8f9fa;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

.small, small {
  font-size: 85%;
}

.card {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
  border: 0;
}

.btn {
  border-radius: 2px;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 2px;
}

.text-underline {
  text-decoration: underline !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.line-height-1 {
  line-height: 1 !important;
}

/* custom */

.page-title {
  margin-top: 3rem;
  text-align: center;
}

.github-button {
  background-image: url(../assets/github-logo.svg);
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 26px;
  padding-right: 38px;
}

.new-instance-success {
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.new-instance-success.visible {
  transform: scale(1);
  opacity: 1;
}

@media only screen and (max-width: 540px) {
  .page-title {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .small, small {
    font-size: 80%;
  }
}
